:root {
  --color-white: #f5f5f5;
  --color-black: #252525;
  --color-red: #dd0100;
  --color-blue: #225095;
  --color-yellow: #fac901;
  --color-bg: #ffffff;
  --border-size: .125rem;
  --border-black: var(--border-size) solid var(--color-black);
  --border-red: var(--border-size) solid var(--color-red);
  --border-blue: var(--border-size) solid var(--color-blue);
}

* {
  box-sizing: border-box;
}

body {
  margin: 1.25rem;
  background-color: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: var(--border-blue);
  color: var(--color-blue);
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: .5rem;
  margin: 2rem .5rem 1rem;
}

figure {
  position: relative;
  border: var(--border-red);
  margin: 0;
}

figure:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* START HERE */

section figure {
  float: left;
  margin: .5rem;
  width: calc(20% - 1rem);
}