:root {
  --color-white: #f5f5f5;
  --color-black: #252525;
  --color-red: #dd0100;
  --color-blue: #225095;
  --color-yellow: #fac901;
  --color-bg: #ffffff;
  --border-size: 0.25rem;
  --inner-border: calc(var(--border-size)) solid var(--color-black);
  --outer-border: calc(var(--border-size) * 2) solid var(--color-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50rem;
  grid-template-rows: 50rem;
}

figure {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

figure>img {
  width: 100%;
}

article {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  list-style: none;
  padding: 0;
}

ul::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--outer-border);
}

ul li {
  border: var(--inner-border);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul li:nth-child(1) {
  background: var(--color-white);
  grid-column: 1 / 3;
}

ul li:nth-child(2) {
  background: var(--color-white);
  grid-column: 3 / 6;
}

ul li:nth-child(3) {
  background: var(--color-white);
  grid-row: 2 / 4;
}

ul li:nth-child(4) {
  background: var(--color-white);
  grid-row: 4 / 7;
}

ul li:nth-child(5) {
  background: var(--color-white);
  grid-column: -2 / -1;
  grid-row: 1 / 7;
}

ul li:nth-child(6) {
  background: var(--color-white);
  grid-column: 6 / 7;
  grid-row: 4 / 6;
}

ul li:nth-child(7) {
  background: var(--color-white);
  grid-column: 7 / 8;
  grid-row: 4 / 6;
}

ul li:nth-child(8) {
  background: var(--color-white);
  grid-column: 4 / span 2;
  grid-row: 6 / 7;
}

ul li:nth-child(9) {
  background: var(--color-white);
  grid-column: 6 / -2;
  grid-row: 6 / 7;
}

ul li:nth-child(10) {
  background: var(--color-white);
  grid-column: 4 / span 2;
  grid-row: 7 / -2;
}

ul li:nth-child(11) {
  background: var(--color-white);
  grid-column: 2 / span 2;
  grid-row: -2 / -1;
}

ul li:nth-child(12) {
  background: var(--color-black);
  color: var(--color-yellow);
  grid-column: 2 / span 2;
  grid-row: -4 / span 2;
}

ul li:nth-child(13) {
  background: var(--color-black);
  color: var(--color-yellow);
  grid-column: 4 / span 2;
  grid-row: -2 / -1;
}

ul li:nth-child(14) {
  background: var(--color-blue);
  color: var(--color-white);
  grid-column: -4 / span 2;
  grid-row: -3 / span 2;
}

ul li:nth-child(15) {
  background: var(--color-red);
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
}

ul li:nth-child(16) {
  background: var(--color-red);
  grid-column: -2 / span 1;
  grid-row: -3 / span 2;
}

ul li:nth-child(17) {
  background: var(--color-yellow);
  grid-column: 6 / span 2;
}

ul li:nth-child(18) {
  background: var(--color-yellow);
  grid-column: 6 / -2;
  grid-row: 2 / span 2;
}

ul li:nth-child(19) {
  background: var(--color-yellow);
  grid-row: -3 / span 2;
}

/* 
article,
ul li span {
  visibility: hidden;
} 
*/