:root {
  --background: #ffffff;
  --color-white: #f5f5f5;
  --color-black: #252525;
  --color-red: #dd0100;
  --color-blue: #225095;
  --color-yellow: #fac901;
  --block-size: 1.5rem;
  --border-size: .0675rem;
  --border: var(--border-size) solid var(--color-black);
  --aspect-ratio: 32 / 46;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  max-width: 90vh;
}

section::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: calc(var(--aspect-ratio) * 100%);
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;

  position: relative;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(46, 1fr);
  grid-template-rows: repeat(32, 1fr);
  overflow: hidden;
}

.grid ul::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.25rem solid var(--background);
}

.grid ul>li {
  margin: 0;
  height: auto;
  width: auto;
}

.block,
.block--white,
.block--black,
.block--red,
.block--blue,
.block--yellow {
  margin: 1rem 0;
  border: var(--border);
}

.block--white {
  background: var(--color-white);
}

.block--black {
  background: var(--color-black);
}

.block--red {
  background: var(--color-red);
}

.block--blue {
  background: var(--color-blue);
}

.block--yellow {
  background: var(--color-yellow);
}

.col-1 {
  grid-column: span 1;
  width: calc(var(--block-size) * 1);
}

.col-2 {
  grid-column: span 2;
  width: calc(var(--block-size) * 2);
}

.col-3 {
  grid-column: span 3;
  width: calc(var(--block-size) * 3);
}

.col-4 {
  grid-column: span 4;
  width: calc(var(--block-size) * 4);
}

.col-5 {
  grid-column: span 5;
  width: calc(var(--block-size) * 5);
}

.col-6 {
  grid-column: span 6;
  width: calc(var(--block-size) * 6);
}

.col-7 {
  grid-column: span 7;
  width: calc(var(--block-size) * 7);
}

.col-8 {
  grid-column: span 8;
  width: calc(var(--block-size) * 8);
}

.col-9 {
  grid-column: span 9;
  width: calc(var(--block-size) * 9);
}

.col-10 {
  grid-column: span 10;
  width: calc(var(--block-size) * 10);
}

.col-11 {
  grid-column: span 11;
  width: calc(var(--block-size) * 11);
}

.col-12 {
  grid-column: span 12;
  width: calc(var(--block-size) * 12);
}

.col-13 {
  grid-column: span 13;
  width: calc(var(--block-size) * 13);
}

.col-14 {
  grid-column: span 14;
  width: calc(var(--block-size) * 14);
}

.col-15 {
  grid-column: span 15;
  width: calc(var(--block-size) * 15);
}

.row-1 {
  grid-row: span 1;
  height: calc(var(--block-size) * 1);
}

.row-2 {
  grid-row: span 2;
  height: calc(var(--block-size) * 2);
}

.row-3 {
  grid-row: span 3;
  height: calc(var(--block-size) * 3);
}

.row-4 {
  grid-row: span 4;
  height: calc(var(--block-size) * 4);
}

.row-5 {
  grid-row: span 5;
  height: calc(var(--block-size) * 5);
}

.row-6 {
  grid-row: span 6;
  height: calc(var(--block-size) * 6);
}

.row-7 {
  grid-row: span 7;
  height: calc(var(--block-size) * 7);
}

.row-8 {
  grid-row: span 8;
  height: calc(var(--block-size) * 8);
}

.row-9 {
  grid-row: span 9;
  height: calc(var(--block-size) * 9);
}

.row-10 {
  grid-row: span 10;
  height: calc(var(--block-size) * 10);
}

.row-11 {
  grid-row: span 11;
  height: calc(var(--block-size) * 11);
}

.row-12 {
  grid-row: span 12;
  height: calc(var(--block-size) * 12);
}

.row-13 {
  grid-row: span 13;
  height: calc(var(--block-size) * 13);
}

.row-14 {
  grid-row: span 14;
  height: calc(var(--block-size) * 14);
}

.row-15 {
  grid-row: span 15;
  height: calc(var(--block-size) * 15);
}