:root {
  --color-white: #f5f5f5;
  --color-black: #252525;
  --color-red: #dd0100;
  --color-blue: #225095;
  --color-yellow: #fac901;
  --color-bg: #ffffff;
  --block-size: 5rem;
  --border-size: .25rem;
  --inner-border: var(--border-size) solid var(--color-black);
  --outer-border: var(--border-size) solid var(--color-bg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}

ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
  width: 100%;
  max-width: 90vh;
  margin: 0 auto;
}






/* HELPER CLASSES */

.block {
  margin: 1rem 0;
  border: var(--inner-border);
}

.block--white {
  background: var(--color-white);
}

.block--black {
  background: var(--color-black);
}

.block--red {
  background: var(--color-red);
}

.block--blue {
  background: var(--color-blue);
}

.block--yellow {
  background: var(--color-yellow);
}

.col-1 {
  grid-column: span 1;
  width: calc(var(--block-size) * 1);
}

.col-2 {
  grid-column: span 2;
  width: calc(var(--block-size) * 2);
}

.col-3 {
  grid-column: span 3;
  width: calc(var(--block-size) * 3);

}

.col-4 {
  grid-column: span 4;
  width: calc(var(--block-size) * 4);

}

.col-5 {
  grid-column: span 5;
  width: calc(var(--block-size) * 5);

}

.col-6 {
  grid-column: span 6;
  width: calc(var(--block-size) * 6);

}

.row-1 {
  grid-row: span 1;
  height: calc(var(--block-size) * 1);
}

.row-2 {
  grid-row: span 2;
  height: calc(var(--block-size) * 2);
}

.row-3 {
  grid-row: span 3;
  height: calc(var(--block-size) * 3);
}

.row-4 {
  grid-row: span 4;
  height: calc(var(--block-size) * 4);
}

.row-5 {
  grid-row: span 5;
  height: calc(var(--block-size) * 5);
}

.row-6 {
  grid-row: span 6;
  height: calc(var(--block-size) * 6);
}