:root {
  --color-white: #f5f5f5;
  --color-black: #252525;
  --color-red: #dd0100;
  --color-blue: #225095;
  --color-yellow: #fac901;
  --border: .25rem solid var(--color-black);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  height: 100vh;
  padding: 1rem;
}

.container>* {
  border: var(--border);
  padding: .5rem;
  /* remove the margin bottom */
  margin-bottom: 1rem;
}

header {
  background-color: var(--color-blue);
  color: var(--color-white);
}

nav {
  background-color: var(--color-yellow);
}

section.content {
  background-color: var(--color-white);
}

section.ad {
  background-color: var(--color-black);
  color: var(--color-yellow);
}

aside {
  background-color: var(--color-white);
  color: var(--color-red);
}

footer {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* 
@media (min-width: 768px) {}

@media (min-width: 960px) {} 
*/